.logo {
    &-small {
        width: 100px;
    }

    &-medium {
        width: 200px;
    }

    &-large {
        width: 250px;
    }

    &:hover {
        transition: all ease-in-out 0.5s;
        cursor:
            url(/icons/cursor-hand.svg) 5 5,
            auto;
    }
}
