.logo-small {
    width: 100px;
}

.logo-medium {
    width: 200px;
}

.logo-large {
    width: 250px;
}

.logo:hover {
    transition: all ease-in-out 0.5s;
    cursor: url("/icons/cursor-hand.svg") 5 5, auto;
}
