.view {
    width: 75%;
    position: relative;
}

.info {
    width: 25%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    color: white;
    background-color: #816cff;
}

.container {
    z-index: 2;
    height: 100%;
    display: flex;
    background-color: rgb(30, 30, 30);
}

.left {
    padding: 24px;
    position: absolute;
    z-index: 5;
    top: 50%;
}

.right {
    right: 0;
    padding: 24px;
    position: absolute;
    top: 50%;
}
