.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #ffeded;
    font-size: 4vmin;
    text-align: center;
    justify-content: center;
}

.section h1 {
    margin: 1%;
}

#starter {
    width: 10rem;
    padding: 1rem;
    border: rgb(255, 255, 255) solid 0.1rem;
    border-radius: 3rem;
    background: none;
    color: white;
    font-size: 1rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-top: 3rem;
    transition: all ease-in-out 0.5s;
}

#starter:hover {
    cursor: pointer;
    border-color: #816cff;
    transition: all ease-in-out 0.5s;
    cursor:
        url(cursor-hand.svg) 5 5,
        auto;
}

.section button {
    margin: 1%;
    width: 6%;
    height: 6%;
    background: none;
    color: white;
    border-width: 3px;
    border-radius: 20px;
    font: 'M PLUS Rounded 1c', sans-serif;
}

.section p {
    font-size: 0.9rem;
    width: 30%;
}

.logo {
    width: 300px;
}
