.filters option {
    color: white;
    padding: 10px;
    border: 1px solid white;
    background-color: rgb(35, 35, 35);
}

.filters:hover {
    border-color: #816cff;
    color: #816cff;
    cursor:
        url(/cursor-hand.svg) 5 5,
        auto;
}

.switcher button:hover {
    color: gold;
    background: rgb(35, 35, 35);
    cursor:
        url(/cursor-hand.svg) 5 5,
        auto;
}

.logo {
    width: 100px;
}
