.toggleSwitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggleSwitch input[type='checkbox'] {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggleSlider {
    position: absolute;
    transition: all ease-in-out 0.5s;
    cursor:
        url(/icons/cursor-hand.svg) 5 5,
        auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: white solid 1px;
    transition: 0.4s;
    border-radius: 34px;
}

.toggleSlider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input[type='checkbox']:checked + .toggleSlider {
    background-color: var(--primary-color);
    border: none;
}

input[type='checkbox']:checked + .toggleSlider:before {
    transform: translateX(26px);
}
