@layer reset, theme, utils;

@layer reset {
    @import './reset';
}

@layer theme {
    @layer font {
        @import './fonts';
    }

    @layer color {
        @import './color';
    }
}

@layer utils {
    @import 'primeflex/primeflex.scss';
}

html {
    background: var(--background-color);
    font-family: 'M PLUS Rounded 1c', Inter, system-ui, Avenir, Helvetica, Arial,
        sans-serif;
    cursor:
        url(cursor-arrow.svg) 5 5,
        auto;
    line-height: 1.5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#root {
    height: 100vh;
}
