@layer reset, theme, utils;

@layer reset {
    @import './_reset.css';
}

@layer theme {
    @layer font {
        @import './_fonts.css';
    }

    @layer color {
        @import './_color.css';
    }
}

@layer utils {
    @import "tailwindcss";
}

@theme {
    --cursor-hand: url("@/icons/cursor-hand.svg") 5 5, auto;
}

html {
    background: var(--background-color);
    font-family: 'M PLUS Rounded 1c', Inter, system-ui, Avenir, Helvetica, Arial,
        sans-serif;
    cursor:
        url("@/icons/cursor-arrow.svg") 5 5,
        auto;
    line-height: 1.5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#root {
    height: 100vh;
}

.hand-cursor {
    cursor:
        url("@/icons/cursor-hand.svg") 5 5,
        auto;
}
